
.checkoutContainer{
    display: flex;
}
.imgContainer img{
    height: 200rem;
    width: 200rem;
    margin-left: 30rem ;
    margin-right: 30rem;
}
.itemInfo{
    display: flex;
    flex-direction: column;

}
.counterInfo{
    width: 400rem;
    padding-top: 120rem;
    display: flex;
    justify-content: space-between;
}
.checkoutItemTitle{
    font-size: 26rem;
    font-weight: bold;
}
.totalPrice::before{
    content: '$';
    font-size: 26rem;
    font-weight: normal;
}
.totalPrice{
    font-size: 24rem;
    font-weight: bold;
}
